.experience-container {
    margin: 4rem;
    position: relative;
}

.experience-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

@media(max-width: 768px) {
    .experience-content h5 {
        font-size: 1.3rem;
        margin-bottom: 1.7rem;
    }
}