.skills-card {
    border-radius: 0.65rem;
    border: 1.5px solid #ed6969;
    padding: 2.5rem;
    text-align: center;
    background: rgba(47, 17, 18, 0.802);
    backdrop-filter: blur(1rem);
    position: relative;
    cursor: pointer;
    transition: all 0.3 ease;
}

.skills-card:hover,
.skills-card.active {
    background: linear-gradient(180deg, #d63939, #a11c1c 100%);
}

.skills-card span {
    font-size: 1.3rem;
    font-weight: 500;
}

.skill-icon {
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.65rem;
    border: 1.5px solid #d63939;
    position: absolute;
    top: -1rem;
    left: -1rem;
}

.skill-icon img {
    width: 2.4rem;
    height: auto;
    object-fit: contain;
}

@media (max-width: 1025px) {
    .skills-card {
        padding: 2rem;
    }

    .skills-card span {
        font-size: 1rem;
    }

    .skill-icon {
        width: 3rem;
        height: 3rem;
    }

    .skill-icon img {
        width: 1.8rem;
    }
}

@media (max-width: 768px) {
    .skills-card span {
        font-size: 0.9rem;
    }
}