.project-showcase-container {
    margin: 4rem;
    position: relative;
}

.project-showcase-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.project-showcase-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;

}

.project-card {
    background: #2f0f0f;
    border-radius: 0.65rem;
    border: 1.5px solid #ed6969;
    padding: 1.5rem;
    width: calc(33.33% - 1.5rem);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.project-domain {
    background: rgba(185, 81, 81, 0.5);
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.project-card h6 {
    font-size: 1.05rem;
    font-weight: 500;
    margin: 0;
}

.project-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.project-info p {
    margin: 0;
}

.project-tasks {
    margin-bottom: 1.3rem;
}

.project-tasks p {
    margin: 0.5rem 0;
}

.project-details ul {
    padding-left: 1.5rem;
}

.project-details ul li {
    list-style: none;
    position: relative;
    padding-left: 1.5rem;
}

.project-details ul li::before {
    content: "•";
    color: #ed6969;
    position: absolute;
    left: 0;
    font-size: 1.2rem;
}

.demo-button {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #d63939 0%, #a11c1c 100%);
    padding: 0.6rem 2rem;
    outline: 1.5px solid transparent;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: auto;
}

.demo-button:hover {
    color: #d63939;
    background: #000;
    outline: 0.5px solid #d63939;
}

@media(max-width: 768px) {
    .project-card {
        width: 100%;
    }
}